#sidebarLeft{
    position: fixed;
    left:0;
    top:0;
    bottom: 0;
    width:$leftNavigationWidth;
    transform: translateX(-100%);
    z-index: $zindex-fixed;
    transition: $transition-base;
    .activeMenu & {
        transform: translateX(0);
        width: 4rem;
        .menu-link-text,
        .small-right,
        .child-container{
            display:none;
        }
        &:hover{
            width:$leftNavigationWidth;
            .menu-link-text,
            .small-right,
            .child-container{
                display:inline-block;
            }
        }
    }
    @media screen and (min-width: 992px ) {
        transform: translateX(0);
        .activeMenu & {
            width: 4rem;
            transform: translateX(0);
            .menu-link-text,
            .small-right ,
            .child-container{
                display:none;
            }
            &:hover{
                width:$leftNavigationWidth;
                .menu-link-text,
                .small-right ,
                .child-container{
                    display:inline-block;
                }
            }
        }
    }
}
.home-link {
    height: 3.75rem;
    padding: 1rem 1rem;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #212529;
    transition: all 0.2s ease-in-out;
    text-align: left;
    &:hover,
    &:focus{
        color:$primary;
    }
}
body.activeMenu{
    overflow: hidden;
    @media screen and (min-width: 992px ) {
        overflow: initial;
    }
}
main{
    transition: $transition-base;
    &::before{
        content: '';
        position: absolute;
        inset:0 0 0 0;
        background-color: rgba(0,0,0,.25);
        opacity: 0;
        z-index: $zindex-fixed;
        pointer-events: none;
        transition: $transition-base;
    }
    .activeMenu & {
        transform: translateX($leftNavigationWidth);
        &::before{
            pointer-events: auto;
            opacity: 1;
        }
    }
    @media screen and (min-width: 992px ) {
        margin-left: $leftNavigationWidth;
        &::before{
            display: none;
        }
        .activeMenu &{
            transform: translateX(0);
            margin-left: 0;
        }
    }
}

.menu-link{
    width: 100%;
    position: relative;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:$body-color;
    transition: $transition-base;
    &:hover,
    &:focus{
        color:$primary;
    }
    &.child-link {
        font-size: 1rem;
    }
    .small-right {
        font-size: 1rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
